<!doctype html>
<html>
  <head>
     <link href="/static/css/profile.css" rel="stylesheet" >
  </head>
  <body>
    <div class="contactus">
      <h1> Create User Profile </h1>
      <form action="{{url_for('add_profile')}}" method="POST" enctype="multipart/form-data">
          Username {{ form.username }}
<!--           <input name="username" type="text" class="fields"> -->
          <br>
          First Name {{ form.firstname }}
<!--           <input name="fname" type="text" class="fields"> -->
          <br>
          Last Name {{ form.lastname }}
<!--           <input name="lname" type="text" class="fields"> -->
          <br>
          Age {{ form.age }}
<!--           <input name="age" type="text" class="fields"> -->
          <br>
          Sex 
          <select name="sex">
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
          <br>
          Upload Profile Photo<br>
          <input type="file" name="pic" accept="image/*" class="fields">
          <br>
          <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>